<%- contentFor('body') %>
<link rel="stylesheet" href="/css/download.css">
<h1 style="margin-top: 90px;">My Uploaded Content</h1>

<div class="content-container">

    <div class="content-section">
        <h2>Uploaded Texts</h2>
        <ul>
            <% if (texts.length > 0) { %>
                <% texts.forEach(text => { %>
                    <li>
                        <div class="copy-container">

                            <!-- Text Block -->
                            <div class="text-block-container">
                                <i class="fa fa-copy copy-icon" data-copy="<%= text.text %>"></i>
                                <div class="text-block" readonly><%= text.text %></div>
                            </div>
                            
                            <small>Uploaded on: <%= text.uploadDate.toDateString() %></small>
                            <% if (text.expireAt) { %>
                                <small>Expires on: <%= new Date(text.expireAt).toLocaleString() %></small>
                            <% } %>
                        </div>

                        <!-- Trash Icon for Deleting -->
                        <form action="/delete/text/<%= text._id %>" method="POST" class="delete-form">
                            <button type="submit" class="delete-icon-button">
                                <i class="fa fa-trash delete-icon"></i>
                            </button>
                        </form>
                        
                    </li>
                <% }) %>
            <% } else { %>
                <li class="empty-state">No texts uploaded yet</li>
            <% } %>
        </ul>
    </div>
    

    <div class="content-section">
        <h2>Uploaded Files</h2>
        <ul class="files-list">
            <% if (files.length > 0) { %>
                <% files.forEach(file => { %>
                    <li class="file-item">
                        <div class="file-preview">
                            <% if (file.contentType.startsWith('image/') || file.contentType === 'application/pdf') { %>
                                <img src="/thumbnail/<%= file._id %>" alt="<%= file.filename %> thumbnail" class="file-thumbnail">
                            <% } else { %>
                                <img src="/images/file-icon.png" alt="Generic file icon" class="file-thumbnail">
                            <% } %>
                        </div>
                        <div class="file-info">
                            <!-- <a href="/preview/file/<%= file._id %>" class="file-link"><%= file.filename %></a> -->
                            <a href="/preview/<%= file._id %>" class="file-link"><%= file.filename %></a>

                            <small data-type="<%= file.metadata.category %>">
                                Type: <%= file.metadata.category %>
                            </small>
                            <small>Uploaded on: <%= file.uploadDate.toDateString() %></small>
                            <% if (file.metadata.expireAt) { %>
                                <small>Expires on: <%= new Date(file.metadata.expireAt).toLocaleString() %></small>
                            <% } %>
                        </div>
                        <form action="/delete/file/<%= file._id %>" method="POST" class="delete-form">
                            <button type="submit" class="delete-icon-button">
                                <i class="fa fa-trash delete-icon"></i>
                            </button>
                        </form>
                    </li>
                <% }) %>
            <% } else { %>
                <li class="empty-state">No files uploaded yet</li>
            <% } %>
        </ul>
    </div>
    
</div>

<script src="/js/download.js"></script>
    


