<%- contentFor('body') %>
<link rel="stylesheet" href="/css/download.css">
<h1 style="margin-top: 90px;">My Uploaded Content</h1>

<div class="content-container">
    <div class="content-section">
        <h2>Uploaded Texts</h2>
        <ul>
            <% if (texts.length > 0) { %>
                <% texts.forEach(text => { %>
                    <li>
                        <p><%= text.text %></p>
                        <small>Uploaded on: <%= text.uploadDate.toDateString() %></small>
                    </li>
                <% }) %>
            <% } else { %>
                <li class="empty-state">No texts uploaded yet</li>
            <% } %>
        </ul>
    </div>

    <div class="content-section">
        <h2>Uploaded Files</h2>
        <ul>
            <% if (files.length > 0) { %>
                <% files.forEach(file => { %>
                    <li>
                        <a href="/preview/file/<%= file._id %>"><%= file.filename %></a>
                        <small data-type="<%= file.metadata.category %>">
                            Type: <%= file.metadata.category %>
                        </small>
                        <small>Uploaded on: <%= file.uploadDate.toDateString() %></small>
                    </li>
                <% }) %>
            <% } else { %>
                <li class="empty-state">No files uploaded yet</li>
            <% } %>
        </ul>
    </div>
</div>